unzipped_patents_data
patents_data
__pycache__
patent_experiments.csv
g_detail_desc_text_1997.tsv
test
*.json
*.xlsb
*.xlsx
unzipped_patents_2015
patents_2015
EN_ipc_title_list_20250101
*.zip
*.xml
*.csv
*.pkl
*.db
app/build
app/dist